.admin-panel{
    max-width: 80%;
    display: grid;
    grid-template-columns: 2fr 7fr;
    min-height: 90vh;
    text-align: left;
}
.admin-navbar h3{
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}
.admin-navbar h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.admin-icon{
    font-size: 35px;
}
.admin-navbar h3:hover{
    color: teal;
}
.admin-navbar{
    background-color: #19103F;
    color: white;
}
.product-panel{
    background-color: #cddcf5a8;
    min-height: 80vh;
}
.product-heading{
    padding: 20px;
    background-color: white;
}
.product-table{
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    background-color: white;
}
.spinner{
    min-height: 30vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .admin-panel{
        max-width: 100%;
        grid-template-columns: none;
    }
    
    .admin-navbar h3{
        margin-bottom: 5px;
    }
    .admin-navbar h2{
        margin-bottom: 0px;
    }
    .admin-icon{
        font-size: 35px;
    }
    
    .product-heading{
        padding: 5px;
    }
    .product-table{
        padding: 5px;
        margin: 5px;
    }
  }
